<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unitn.disi.lpsmt.idabere">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.location.gps" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".activities.ListBarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.search_bar_searchable"
                android:resource="@xml/search_bar_searchable" />
        </activity>

        <activity
            android:name=".activities.QrCodeScannerActivity"
            android:label="@string/title_qr_code_scanner_login"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:parentActivityName="it.unitn.disi.lpsmt.idabere.ListBarActivity"
                android:value="it.unitn.disi.lpsmt.idabere.activities.ListBarActivity"/>
        </activity>

        <activity
            android:name=".activities.MenuActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.ItemInfoActivity"
            android:label="@string/title_item_info"
            android:screenOrientation="portrait">
             <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:parentActivityName="it.unitn.disi.lpsmt.idabere.MenuActivity"
                    android:value="it.unitn.disi.lpsmt.idabere.activities.MenuActivity"/>
        </activity>


        <activity
            android:name=".activities.AddChoiceActivity"
            android:theme="@style/Dialog"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.ReviewOrderActivity"
            android:label="@string/review_order_activity_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.search_bar_searchable"
                android:resource="@xml/search_bar_searchable" />
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:parentActivityName="it.unitn.disi.lpsmt.idabere.DeliveryPlaceActivity"
                android:value="it.unitn.disi.lpsmt.idabere.activities.DeliveryPlaceActivity"/>
            </activity>


        <activity
            android:name=".activities.DeliveryPlaceActivity"
            android:label="@string/title_delivery_place_activity_title"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.PaymentTypeActivity"
            android:label="@string/title_payment_type_activity_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.OrderStatusActivity"
            android:label="@string/order_status_title_label"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.RateOrderActivity"
            android:label="@string/rate_order_activity_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

    </application>

</manifest>