<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unitn.disi.lpsmt.idabere">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".GpsLoadingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:parentActivityName="it.unitn.disi.lpsmt.idabere.GpsLoadingActivity"
                android:value="it.unitn.disi.lpsmt.idabere.GpsLoadingActivity"/>
            <meta-data
                android:name="android.app.search_bar_searchable"
                android:resource="@xml/search_bar_searchable" />

        </activity>

        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"/>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".ItemInfoActivity"
            android:label="@string/title_item_info">
             <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:parentActivityName="it.unitn.disi.lpsmt.idabere.MenuActivity"
                    android:value="it.unitn.disi.lpsmt.idabere.MenuActivity"/>
        </activity>

        <activity
            android:name=".QrCodeScannerActivity"
            android:label="@string/title_qr_code_scanner_login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:parentActivityName="it.unitn.disi.lpsmt.idabere.SearchBarActivity"
                android:value="it.unitn.disi.lpsmt.idabere.SearchBarActivity"/>
        </activity>

        <activity
            android:name=".AddToppingsActivity"
            android:theme="@style/DialogTheme">
        </activity>


        <activity
            android:name=".ReviewOrderActivity"
            android:label="@string/review_order_activity_title">
            <meta-data
                android:name="android.app.search_bar_searchable"
                android:resource="@xml/search_bar_searchable" />
        </activity>

        <activity android:name=".OrderStatusActivity"/>

        <activity android:name=".PaymentTypeActivity"></activity>

        <activity android:name=".DeliveryPlaceActivity"/>

        <activity android:name=".RateOrderActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

    </application>

</manifest>