<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unitn.disi.lpsmt.idabere">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.SearchBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.search_bar_searchable"
                android:resource="@xml/search_bar_searchable" />

        </activity>

        <activity
            android:name=".activities.QrCodeScannerActivity"
            android:label="@string/title_qr_code_scanner_login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:parentActivityName="it.unitn.disi.lpsmt.idabere.SearchBarActivity"
                android:value="it.unitn.disi.lpsmt.idabere.activities.SearchBarActivity"/>
        </activity>

        <activity
            android:name=".activities.MenuActivity">
        </activity>

        <activity
            android:name=".activities.ItemInfoActivity"
            android:label="@string/title_item_info">
             <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:parentActivityName="it.unitn.disi.lpsmt.idabere.MenuActivity"
                    android:value="it.unitn.disi.lpsmt.idabere.activities.MenuActivity"/>
        </activity>


        <activity
            android:name=".activities.AddToppingsActivity"
            android:theme="@style/DialogTheme">
        </activity>

        <activity
            android:name=".activities.ReviewOrderActivity"
            android:label="@string/review_order_activity_title">
            <meta-data
                android:name="android.app.search_bar_searchable"
                android:resource="@xml/search_bar_searchable" />
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />


        <activity
            android:name=".activities.DeliveryPlaceActivity"
            android:label="@string/title_delivery_place_activity_title">
        </activity>

        <activity
            android:name=".activities.PaymentTypeActivity"
            android:label="@string/title_payment_type_activity_title">
        </activity>

        <activity
            android:name=".activities.CheckoutActivity"
            android:label="@string/title_activity_checkout">
        </activity>

        <activity
            android:name=".activities.OrderStatusActivity"
            android:label="@string/order_status_title_label">
        </activity>

        <activity
            android:name=".activities.RateOrderActivity"
            android:label="@string/rate_order_activity_title">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

    </application>

</manifest>